<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <script defer src="../static/data.js"></script>
</head>
<body id="AboutUs">
    <nav class="nav_style">
        <a href="HomePage.html">מסך הבית</a>
        <a href="AboutUs.html">קצת עלינו</a>
        <a href="ContactUs.html">צור קשר</a>
    </nav>
    <div class="Presentation">
        <div></div>
        <div class="Background">
            <h1 class="headerPage">קצת עלינו..</h1>
            <p class="rtl">האם קרה לכם שקמתם בבוקר, רציתם לצאת לטייל בארצינו היפה ולא הצלחתם לבחור מסלול?  <br></br>
            TRIPSI הוא בדיוק בשבילכם,  <br></br>
                 האתר שלנו מאפשר לכם לבחור מסלולים לפי הקריטריונים החשובים לכם ובעזרת המלצות של משתתפים שכבר ביצעו את המסלולים <br></br>
            בנוסף, הוא מאפשר ליצור מאגר של מסלולים שכבר ביצעתם, מאגר נוסף של מסלולים שתרצו לבצע בעתיד,<br>
            ליצור קבוצות מטיילים וכו'. הצטרפו אלינו וביחד נכיר את הארץ!</p>
        </div>
        <div></div>
    </div>
<footer id="footHomePage"><p>TRIPSI - Discover Your Country!</p></footer>
</body>
</html>