<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <script defer src="../static/data.js"></script>
</head>
<body id="ContactUs">
    <nav class="nav_style">
        <a href="HomePage.html">מסך הבית</a>
        <a href="AboutUs.html">קצת עלינו</a>
        <a href="ContactUs.html">צור קשר</a>
    </nav>
    <div class="Presentation">
        <div></div>
        <div  class="Background">
            <h1>צור קשר</h1>
          <form action="HomePage.html" class="form rtl" method="post" onsubmit=" return alertContBeforeSignIn()">
              <div class="signIn_form_group">
                  <label >שם פרטי*</label>
                  <input class="textbox" type="text" id="firstName" placeholder="ישראל" required minlength="2">
              </div>
              <div class="signIn_form_group">
                  <label >שם משפחה*</label>
                  <input class="textbox" type="text" id="lastName" placeholder="ישראלי" required minlength="2">
              </div>
              <div class="signIn_form_group">
                  <label >מייל*</label>
                  <input class="textbox" id="email" type="email" placeholder="israel12@gmail.com" required/>
              </div>
              <div class="signIn_form_group">
                  <label id="dob">תוכן ההודעה*</label>
                  <textarea id="bigTextBox" rows = "5" cols = "60" style="width: 200px;border: white; border-radius: 5px;" required maxlength="140"></textarea>
              </div>
              <button type="submit" class="btn_sn">אישור</button>
          </form>
        </div>
        <div></div>
    </div>
<footer><p>TRIPSI - Discover Your Country!</p></footer>
</body>
</html>