<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Data</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <script defer src="../static/data.js"></script>
</head>
<body id="MyGroups" onload="addDataGroup(),optionsMembers()">
    <nav class="nav_style">
        <a href="HomePage.html">התנתק</a>
        <a href="TripsThatIDid.html">מסלולים שביצעתי</a>
        <a href="TripsThatIWillDo.html">מסלולים שארצה לבצע</a>
        <a href="MyProfile.html">הפרופיל שלי</a>
        <a href="MyGroups.html">הקבוצות שלי</a>
        <a href="SearchTrips.html">חיפוש מסלולים</a>
        <a href="ContactUsAfterSignIn.html">צור קשר</a>
    </nav>
   <div class="presentationTrips rtl">
       <div></div>
       <div class="BackgroundGroup">
           <div><h1>פרטי הקבוצה</h1></div>
           <div class="presentationGroups">
             <div>
                 <h2>מסלולים שנוכל לבצע ביחד</h2>
             <table class="myGroupsData">
                <thead>
                    <tr>
                        <th>שם המסלול</th>
                        <th>איזור בארץ</th>
                        <th>רמת קושי</th>
                        <th>אורך המסלול</th>
                        <th>כולל הליכה במים</th>
                        <th>מסלול מוצל</th>
                        <th style="width: 30%;">תיאור קצר</th>
                        <th>עדכון ביצוע מסלול</th>
                    </tr>
                </thead>
             <tbody id="table_body1"></tbody>
           </table>
           </div>
           <div>
               <h2>חברי הקבוצה</h2>
               <table class="myTrips" id="groupMembers">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>מייל</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>מאיה ברסלאור</td>
                        <td>mayabres@post.bgu.ac.il</td>
                    </tr>
                    <tr>
                        <td>גל זמוש</td>
                        <td>galza@post.bgu.ac.il</td>
                    </tr>
                    <tr>
                        <td>יריב סוויד</td>
                        <td>yarivsw@post.bgu.ac.il</td>
                    </tr>
                    <tr>
                        <td>בן קרואני</td>
                        <td>benka@post.bgu.ac.il</td>
                    </tr>
                    <tr>
                        <td>גלעד ארז</td>
                        <td>giladere@post.bgu.ac.il</td>
                    </tr>
                    <tr>
                        <td>אור ארין</td>
                        <td>arianor@post.bgu.ac.il</td>
                    </tr>
                </tbody>
                </table>
               <button onclick="addFriendForm()">הוסף חבר לקבוצה</button>
               <form class="form" id="hiddenForm" style="display: none;" method="post">
                   <select name="optionsMembers" id="optionsMembers"></select>
                   <button type="button" onclick="addUserToGroup()">הוסף</button>
               </form>
           </div>
           </div>
       </div>
       <div></div>
   </div>
<footer><p>TRIPSI - Discover Your Country!</p></footer>
</body>
</html>