<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Trips</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/data.js"></script>
</head>
<body id="Trips" onload="addOptions()">
    <nav class="nav_style">
        <a href="HomePage.html">התנתק</a>
        <a href="TripsThatIDid.html">מסלולים שביצעתי</a>
        <a href="TripsThatIWillDo.html">מסלולים שארצה לבצע</a>
        <a href="MyProfile.html">הפרופיל שלי</a>
        <a href="MyGroups.html">הקבוצות שלי</a>
        <a href="SearchTrips.html">חיפוש מסלולים</a>
        <a href="ContactUsAfterSignIn.html">צור קשר</a>
    </nav>
    <div class="Presentation">
        <div></div>
        <div class="Background">
            <h1>מצא מסלול לפי העדפותיך</h1>
            <form action="tripsResults.html" class="form rtl">
                <div class="signIn_form_group st">
                    <label id="area" for="optionsAreas">איזור בארץ*</label>
                    <select name="optionsAreas" id="optionsAreas" required></select>
                </div>
                <div class="signIn_form_group st">
                    <label id="long" for="optionsLong">אורך המסלול*</label>
                    <select name="optionsLong" id="optionsLong" required></select>
                </div>
                <div class="signIn_form_group st">
                    <label id="dif" for="optionsDif">רמת קושי*</label>
                    <select name="optionsDif" id="optionsDif" required></select>
                </div>
                <div class="signIn_form_group st">
                    <label id="water" for="optionsWater">הליכה במים</label>
                    <select name="optionsWater" id="optionsWater" ></select>
                </div>
                <div class="signIn_form_group st">
                    <label id="shadow" for="optionsShadow">מסלול מוצל</label>
                    <select name="optionsShadow" id="optionsShadow" ></select>
                </div>
                <button type="submit" class="btn_sn bs" onclick="getUsersSelections()">אישור</button>
            </form>
        </div>
        <div></div>
    </div>
<footer><p>TRIPSI - Discover Your Country!</p></footer>
</body>
</html>