<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Styles.css">
    <title>Write Recommendation</title>
    <script defer src="../static/data.js"></script>

</head>
<body id="Trips" class="rtl" onload="writeRecommendation()">
   <nav class="nav_style">
        <a href="HomePage.html">התנתק</a>
        <a href="TripsThatIDid.html">מסלולים שביצעתי</a>
        <a href="TripsThatIWillDo.html">מסלולים שארצה לבצע</a>
        <a href="MyProfile.html">הפרופיל שלי</a>
        <a href="MyGroups.html">הקבוצות שלי</a>
        <a href="MyProfile.html">חיפוש מסלולים</a>
        <a href="ContactUsAfterSignIn.html">צור קשר</a>
    </nav>
   <div class="presentationTrips">
       <div></div>
       <div id="tripsRec" class="Background" >
           <h1 id="headerPage" ></h1>
           <form action="TripsThatIDid.html" class="form rtl">
                <div class="form_group st">
                  <textarea id="bigTextBox" rows = "5" cols = "60" style="width: 300px;border: white; border-radius: 5px;" required maxlength="140"></textarea>
                </div>
                <button type="submit" class="btn_sn bs">אישור</button>
            </form>
        </div>
        <div></div>
    </div>
</body>
<footer><p>TRIPSI - Discover Your Country!</p></footer>
</html>