extends LayoutBeforeSignIn 
block content 
    div(class="Background")
        h1 קצת עלינו..
        p(class="rtl") האם קרה לכם שקמתם בבוקר, רציתם לצאת לטייל בארצינו היפה ולא הצלחתם לבחור מסלול?  
            br
            | TRIPSI הוא בדיוק בשבילכם,
            br
            | האתר שלנו מאפשר לכם לבחור מסלולים לפי הקריטריונים החשובים לכם ובעזרת המלצות של משתתפים שכבר ביצעו את המסלולים
            br
            | בנוסף, הוא מאפשר ליצור מאגר של מסלולים שכבר ביצעתם, מאגר נוסף של מסלולים שתרצו לבצע בעתיד,
            br
            | ליצור קבוצות מטיילים וכו. הצטרפו אלינו וביחד נכיר את הארץ!


