doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign In
        link(rel="stylesheet", href="../static/Styles.css")
        script(defer, src="../static/data.js")
    body(id=`${picture}`)
        nav(class="nav_style")
            a(href="/HomePage") מסך הבית
            a(href="/AboutUs") קצת עלינו
            a(href="/ContactUs") צור קשר
        div(class="Presentation")
            div
            block content
            div
        footer(id=`${footerAbout}`)
            p TRIPSI - Discover Your Country!
