extends LayoutBeforeSignIn 
block content 
    div(class="Background1")
        h1 הרשמה לאתר
            form(class="form rtl", action="/createNewUser", method="post", onsubmit="return validationSignUp()")
                div(class="signIn_form_group")
                    label(for="firstNameSignUp") שם פרטי*
                    input(class="textbox", id="firstNameSignUp",type="text", name="firstNameSignUp", placeholder="ישראל", required, minlength="2")
                div(class="signIn_form_group")
                    label(for="lastNameSignUp") שם משפחה*
                    input(type="text",id="lastNameSignUp",class="textbox", name="lastNameSignUp", placeholder="ישראלי", required, minlength="2")
                div(class="signIn_form_group")
                    label(for="phoneNumberSignUp") טלפון*
                    input(type="tel",id="phoneNumberSignUp",class="textbox", name="phoneNumberSignUp", placeholder="05XXXXXXXX", required, pattern="[0-9]{10}")
                div(class="signIn_form_group")
                    label(id="dobLabel", for="dobSignUp") תאריך לידה*
                    input(id="dobSignUp", class="date",type="date", name="dobSignUp", required)
                div(class="signIn_form_group")
                    label(for="emailSignUp") מייל*
                    input(name="emailSignUp",id="emailSignUp",class="textbox", type="email", placeholder="israel12@gmail.com",required)
                div(class="signIn_form_group")
                    label(for="passwordSignUp") סיסמא*
                    input(name="passwordSignUp",id="passwordSignUp",class="textbox", type="password", placeholder="*******", required, pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,16}$")
                div(class="signIn_form_group")
                    label(for="passwordValSignUp") אימות סיסמא*
                    input(name="passwordValSignUp",id="passwordValSignUp", class="textbox",type="password", placeholder="*******", required, pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,16}$")
                input(type="submit", class="btn_sn btnForm", value="אישור")   
