extends LayoutBeforeSignIn 
block content 
    div(class="rtl Background")
        h1 התחברות
        p #{v1}
        form(action="/LogIn", method="get")
            div(class="signIn_form_group")
                label(for="emailSignIn") מייל
                input(id="emailSignIn",class="textbox",name="emailSignIn", type="email", placeholder="israel12@gmail.com", required)
            div(class="signIn_form_group")
                label(for="passwordSignIn") סיסמא
                input(id="passwordSignIn",class="textbox",name="passwordSignIn", type="password", placeholder="********", minlength="6",maxlength="16",required)
            input(type="submit", class="btn_sn btnForm", value="אישור")

