doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Trip Reccomendations
        link(rel="stylesheet", href="../static/Styles.css")
        script(defer, src="../static/data.js")
    body(id="Trips")
        nav
            a(href="/HomePage") התנתק
            a(href="/TripsThatIDid") מסלולים שביצעתי
            a(href="/TripsThatIWillDo") מסלולים שארצה לבצע
            a(href="/MyProfileDetails") הפרופיל שלי
            a(href="/MyGroups") הקבוצות שלי
            a(href="/SearchTrips") חיפוש מסלולים
            a(href="/ContactUsAfterSignIn") צור קשר
        div(class="presentationTrips rtl")
            div
            div(class="Background")
                h1 המלצות
                table(class="myTrips")
                    thead
                        tr
                            th תאריך כתיבת ההמלצה
                            th שם כותב ההמלצה
                            th תוכן ההמלצה
                    tbody(id="table_body")
                    each n in rec 
                        tr 
                        - let date = new Date(n.recdate);
                        - let formattedDate = date.toLocaleDateString('en-GB', { month: '2-digit', day: '2-digit', year: 'numeric' });
                        td #{formattedDate} 
                        td #{n.user} 
                        td #{n.content}  
                button(onclick="window.location='/backToResults'") חזור
            div
        footer
            p TRIPSI - Discover Your Country!
