extends LayoutTrips 
block content
    div(id="tripsRec" class="Background")
        h1(id="headerPage") המלצה על המסלול: #{" "+ trip}
        form(class="form rtl", action="/sendRecommendation", method="post", onsubmit="return alertRcommendation()")
            div
                label(for="recommendTrip", style="display: none")
                input(type="text",name="recommendTrip",id="recommendTrip" ,style="display: none", value=`${tripID}`, required)
            div(class="form_group st")
                label(for="bigTextBox")
                textarea(id="bigTextBox",name="bigTextBox", rows="5", cols="60", style="width: 300px;border: white; border-radius: 5px;", required, maxlength="140")
            input(type="submit", class="btn_sn bs btnForm", value="אישור") 

