<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRIPSI-Travel In Israel</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <script defer src="../static/data.js"></script>
</head>
<body id="homepage_background" onload="clearMemory()">
    <nav>
        <div class="nav_style">
            <a href="HomePage.html">מסך הבית</a>
            <a href="AboutUs.html">קצת עלינו</a>
            <a href="ContactUs.html">צור קשר</a>
        </div>
    </nav>
  <img class="homepage_logo"src="../static/Pictures/logo.PNG" >
  <div id="buttons_homepage">
    <button onclick="window.location.href ='SignIn.html';">התחבר</button>
    <button onclick="window.location.href ='SignUp.html';">הירשם</button>
  </div>
    <footer id="footHomePage">
        <p>TRIPSI - Discover Your Country!</p>
    </footer>
</body>
</html>