<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip Reccomendations</title>
    <link rel="stylesheet" href="../static/Styles.css">
    <script defer src="../static/data.js"></script>
</head>
<body id="Trips">
    <nav class="nav_style">
        <a href="HomePage.html">התנתק</a>
        <a href="TripsThatIDid.html">מסלולים שביצעתי</a>
        <a href="TripsThatIWillDo.html">מסלולים שארצה לבצע</a>
        <a href="MyProfile.html">הפרופיל שלי</a>
        <a href="MyGroups.html">הקבוצות שלי</a>
        <a href="SearchTrips.html">חיפוש מסלולים</a>
        <a href="ContactUsAfterSignIn.html">צור קשר</a>
    </nav>
     <div class="presentationTrips rtl">
        <div></div>
        <div class="Background" >
            <div>
                <h1>המלצות</h1>
               <table class="myTrips">
                <thead>
                    <tr>
                        <th>תאריך כתיבת ההמלצה</th>
                        <th>שם כותב ההמלצה</th>
                        <th>תוכן ההמלצה</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                    <tr>
                        <td>06-12-2022</td>
                        <td>מאיה ברסלאור</td>
                        <td>ממומלץ בחום! נוף מדהים והמסלול מאוד לא קשה לביצוע</td>
                    </tr>
                        <td>07-12-2022</td>
                        <td>שלומי כהן</td>
                        <td>מרגיש כמו טיול בחו"ל</td>
                    </tr>
                        <td>14-12-2022</td>
                        <td>עומר שלום</td>
                        <td>מסלול מקסים</td>
                    </tr>
                </tbody>
               </table>
            </div>
            <button class="btn_sn" onclick='goBack()'>חזור</button>
        </div>
       <div></div>
   </div>
<footer><p>TRIPSI - Discover Your Country!</p></footer>
</body>
</html>