Requirements
1.  Modules: express, mysql2, path, pug, body-parser, cookie-parser,csv2json
2.  
a. Create path: /CreateTable
b. Insert path: /InsertTable
c. Select path: /ShowTable
show table areas: /ShowTableAreas
show table longoftrips: /ShowTableLongOfTrips
show table difficulties: /ShowTableDifficulties
show table yesorno: /ShowTableYesOrNo
show table users: /ShowTableUsers
show table trips: /ShowTableTrips
show table groups: /ShowTableGroups
show table willTrips: /ShowTableWillTrips
show table didTrips: /ShowTableDidTrips
shou table groupMembers: ShowTableGroupMembers
show table recommendations: /ShowTableRecommendations
show table contactus: /ShowTableContactUs
d. Delete path: /DeleteTable
3. Table creation syntax:
CREATE TABLE IF NOT EXISTS `areas`(area VARCHAR(255) primary key not null)
CREATE TABLE IF NOT EXISTS `longoftrips`(longoftrip VARCHAR(255) primary key not null)
CREATE TABLE IF NOT EXISTS `difficulties`(difficulty VARCHAR(255) primary key not null)
CREATE TABLE IF NOT EXISTS `yesorno`(yesorno VARCHAR(255) primary key not null)
create table if not exists `users`(email varchar(255) primary key,firstname varchar(255) not null, lastname varchar(255) not null, dob date not null, phoneNumber varchar(10) not null, password varchar(255) not null)
create table if not exists `trips`(id int(11) not null primary key auto_increment, tripname varchar(255) not null, area varchar(255) not null, longoftrip varchar(255) not null, difficulty varchar(255) not null, water varchar(2) not null, shadow varchar(2) not null, description varchar(1500) not null)
create table if not exists `groups`(id int(11) not null primary key auto_increment, creationdate date not null, name varchar(50) not null)
create table if not exists `willTrips`(tripID int(11)  not null references trips(id), userEmail varchar(255) not null references users(email), primary key (tripID ,userEmail ))
create table if not exists `didTrips`(tripID int(11)  not null references trips(id), userEmail varchar(255) not null references users(email), commitDate date not null, primary key (tripID ,userEmail ))
create table if not exists `groupMembers`(groupID int(11) not null, userEmail varchar(255) not null references users(email), primary key (groupID , userEmail ))
create table if not exists `recommendations`(user varchar(255) not null references users(email), tripID int(11) not null references trips(id), recdate datetime not null, content varchar(255) not null, primary key(user,tripID,recdate))
create table if not exists `contactus`(email varchar(255) not null, firstname varchar(255) not null, lastname varchar(255) not null, recdate datetime not null, content varchar(255) not null, primary key (email,recdate))
Helper that I’ll use while creating a group:
create table if not exists `groupcreation`(email varchar(255) primary key, firstname varchar(255) not null, lastname varchar(255) not null)
